*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: zain;
  text-decoration: none;
  list-style: none;
}

:root{
  --main--color: #071952;
  --second--color: #3FD357;
  --darkSecond--color: #27bd40;
  --darkMain--color:#00134E;
  --white--color:#FFFFFF;
}

::selection{
  background-color: var(--second--color);
  color: var(--main--color);
}
body{
  background-color: var(--main--color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000D35' fill-opacity='0.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");}

/* Start Components */
section {
  padding: 100px 0;
}

.see-m-BTN{
  background-color: var(--second--color);
  color: var(--main--color);
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 20px;
}
/* End Components */

/* Start Home Section */
.home {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#07195200,#07195262) ,url('/public/assets/Photos/LandBG.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: var(--white--color);
}

.home-container {
  max-width: 600px;
}

.welcome-text {
  font-size: 20px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.name {
  font-size: 150px;
  font-weight: 900;
  margin: -70px 0;
  color: var(--second--color);
}

.buttons {
  margin-top: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    right: 10px;
    direction: auto;
}

.fire-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: auto;
  background-color: var(--white--color);
  border: 2px solid var(--second--color) !important;
  color: var(--main--color);
  box-shadow: 5px 5px 0 var(--second--color);
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.fire-btn:hover {
  background:var(--white--color);
  box-shadow: -5px 5px 0 var(--second--color);

}

.download-cv {
  color: var(--white--color);
  font-size: 20px;
  opacity: 0.8;
  font-weight: 700;
  transition: 0.3s;

}

.download-cv:hover {
  opacity: 1;
}

.home .social-icons {
    position: relative;
    top: 10px;
}
.social-icons {
    position: relative;
}

.home .social-icons img {
width: 20px;
margin:5px ;
}
.social-icons img {
  color: var(--white--color);
  margin: 0 7px;
  opacity: 0.8;
  transition: 0.3s;
}

.social-icons img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.bottom-icon {
  position: absolute;
  left: 50%;
  transform:translateX(-50%) ;
  bottom: 50px;
  animation: scrollDown 1s ease-in-out infinite;

}
.bottom-icon img {
  width: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}
.bottom-icon:hover img {
  opacity: 1;
}

@keyframes scrollDown {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* End Home Section */

/* Start About Section */
.about {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1100px;
  width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  color: white;
  text-align: left;
}

.Title{
  font-size: 80px;
  font-weight: 800;
  color: var(--second--color);
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
/*  */
.Title::after {
  content: url("/public/assets/Photos/Title-line.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

}

.about-text {
  font-size: 20px;
  line-height: 1.6;
  opacity: 0.9;
  text-align: start;
}

.about-me-btns a{
  padding-top: 20px;
  display: flex;
  justify-content: center;
    direction: auto !important;
    color: var(--second--color) !important;
  }
    /* Responsive Design */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .text-container {
    text-align: center;
  }
}
/* End About Section */

/* Start skills */
.skills-section {
  width: 100%;
  background: var(--darkMain--color);
  padding: 20px 0;
  border-top: 5px solid var(--second--color);
  border-bottom: 5px solid var(--second--color);
}

.skill-icon {
  width: 80px;
  height: auto;
  margin: 10px 20px;;
  filter: grayscale(1);
  transition: 0.3s;
}

.skill-icon:hover {
  filter: grayscale(0);
}

@media(  1440px <= width){
  .skill-icon {
    width: 110px;
  }
}

/* End skills */


/* Start Services Section */
.Services-section .services {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.Services-section .services  .service{
  width: 300px;
  padding: 20px;
  background: var(--main--color);
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  border: 2px solid var(--darkMain--color);
  box-shadow: var(--darkMain--color) 7px 7px 0px 1px;
  transition: 0.3s;
}
.Services-section .services  .service:hover{
  box-shadow: var(--second--color) -7px -7px 0px 1px;
  border: 2px solid var(--second--color);
  background-color: var(--darkMain--color);

}
.Services-section .services  .service h2{
color: var(--second--color);
font-weight: 900;
font-size: 30px;
}
.Services-section .services  .service p{
color: var(--white--color);
}

/* End Services Section */

/* Start Gallery Section */
.gallery-section .PJS{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 100px auto;
  padding: 30px;
  gap: 30px;
  position: relative;
}
.gallery-section .PJS .PJ{
width: 380px;
background: var(--main--color);
border-radius: 10px;
text-align: center;
transition: 0.3s;
border: 2px solid var(--darkMain--color);
box-shadow: var(--darkMain--color) -5px -5px 0px 1px;
transition: 0.3s;
overflow: hidden;
cursor: pointer;
position: relative;
}
.gallery-section .PJS .PJ .data{
  background:linear-gradient(#07195200,#071952d8  , var(--main--color) 80%); ;
  width: 100%;
  padding:40px 20px 10px 20px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  color: var(--second--color);
}
.gallery-section .PJS .PJ .data .view{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-direction: column;
}
.gallery-section .PJS .PJ .data .view h6{
  font-size: 20px ;
  font-weight: 600;
}

.gallery-section .PJS .PJ .data h3{
  font-size: 30px;
  font-weight: 900;
}
.gallery-section .PJS .PJ .data p{
  font-size: 20px;
  font-weight: 600;
  margin:  -10px ;
  padding-bottom: 20px;
}


.gallery-section .PJS .PJ:hover{
border: 2px solid var(--second--color);
box-shadow: var(--second--color) 5px 5px 0px 1px;
}
.gallery-section .PJS .PJ:hover .data{
opacity: 1;
}
.gallery-section .PJS .PJ img{
max-width: 100%;
max-height:100% ;
border-radius: 10px;
transition: 0.3s;
transform: scale(1.1);
}
.gallery-section .PJS .PJ:hover img{
filter: blur(1px);
transform: scale(1.2);
opacity: 0.3;
}


.sub.Title{
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
  position: absolute;
  top: -80px;
  background: var(--second--color);
  color: var(--main--color);
  padding: 4px 30px;
  border-radius: 5px 5px 30px 30px;
  width: 600px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 5px 5px 0 var(--darkMain--color);
  border: 2px solid var(--darkMain--color);

}
.sub.Title:hover{
  background-color: var(--darkMain--color);
  transform: scale(1.05);
  border-radius:  30px 30px 5px 5px;
  color: var(--second--color);
  box-shadow: 5px 5px 0 var(--second--color);
  border: 2px solid var(--second--color);

}
.sub.Title::after{
  content: "";
}

/* End Gallery Section */


/* Start Statisics Section */
.statistics-section {
  background-color: var(--darkMain--color);
  padding: 40px 0;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.stats-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 200px;
}
.stat-icon {
  width: 80px;
  margin-bottom: 10px;
  transition: 0.3s;
}
.stat-box:hover .stat-icon  {
transform: scale(1.1);
}


.stat-number {
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.stat-label {
  font-size: 40px;
  font-weight: 700;
  color: var(--second--color);
  margin-top: -20px;
}

/* End Statisics Section */

/* Start Testmonials Section */

.testimonial-container {
  max-width: 1600px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
  direction: rtl;
}

.testimonial-card {
  padding: 20px;
  background: var(--main--color);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 10px 10px 0px var(--darkMain--color);
  transition: 0.3s;
  border: 3px solid var(--darkMain--color);
  width: 500px;
  margin: 10px;
  flex-wrap: wrap;
}

.testimonial-card:hover{
  box-shadow: 5px 5px 0px var(--second--color);
  border-color: var(--second--color);
}
.testimonial-card::after {
  content: '\f10e';
  position: absolute;
  top: -40px;
  right: -20px;
  font-size: 60px;
  color: var(--second--color);
  font-weight: 900;
  transition: 0.3s;
  font-family: 'Font Awesome 5 Free';
}
.testimonial-card:hover::after{
  color: var(--white--color);
  transform: scale(1.1);
}

.testimonial-text {
  font-size: 25px;
  line-height: 1.6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  direction: ltr;
}

.testimonial-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--second--color);
  margin-right: 10px;
  background-color: white;
}

.testimonial-name {
  color: var(--second--color);
  font-weight: 900;
  font-size: 20px;
  text-align: left;

}

.testimonial-position {
  font-size: 16px;
  text-align: left;
  margin-top: -10px;
}


/* End Testmonials Section */

/*Start Certificates Section */
.certificates-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
}

.certificate-card {
  box-shadow: 10px 10px 0 var(--darkMain--color);
  border: 2px solid var(--darkMain--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px;
}
.certificate-card:hover {
  box-shadow: 5px 5px 0 var(--second--color);
  border: 3px solid var(--second--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.certificate-card:hover img {
  transform: scale(1.1);
}

.certificate-card img {
  width: 100%;
  transition: 0.3s;
}

/*End Certificates Section */

/* Start CTA Section */
.CTA-section{
  background:linear-gradient(var(--second--color) , #3fd358e5 ), url('/public/assets/Photos/digital-design.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  text-align: center;
  font-size: 40px;
  color: var(--main--color);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CTA-section img{
  width: 250px;
  margin-bottom: -40px;
}
.CTA-section h1 {
  font-weight: 900;
  line-height: 1;
}
.CTA-section .fire-btn {
  margin: auto;
  width: 170px;
  margin-top: 20px;
  background-color: var(--white--color);
  border: 3px solid var(--main--color) !important;
  color: var(--main--color);
  box-shadow: 5px 5px 0 var(--darkMain--color);
}
.CTA-section .fire-btn:hover {
  background:linear-gradient(#ff9000,#ffd900) }
/* END CTA Section */


/* Strat Trusted By Section */
.Trusted-by-section{
  max-width: 1200px;
  margin: auto;
}
.Trusted-by-section h1{
  font-size: 40px;
  color: var(--second--color);
  margin: 20px;
}
.Trusted-by-section img{
  width: 800px;
  margin: auto;
}
/* Strat Trusted By Section */


/* Start Footer  */
footer {
  background-color: var(--darkMain--color);
  color: var(--white--color);
  padding: 50px 0 20px 0 ;
  text-align: center;
  border-top: 3px solid var(--second--color);
}
footer p {
  width: 500px;
  padding: 10px 20px 0 0 ;
  margin: auto;
  font-size: 14px;
}
footer .email {
  color: var(--white--color);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  align-content: center;
}
footer .email lord-icon {
margin-top: 5px;
}
footer .social-icons  {
  margin: auto;
  padding: 10px;
  opacity: 1;
}
footer .social-icons img {
  width: 30px;
  opacity: 1;
}
/* EndFooter  */