@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Global Base Styles ===== */
@layer base {
  * {
    @apply box-border p-0 m-0 scroll-smooth;
    font-family: zain, sans-serif;
    text-decoration: none;
    list-style: none;
  }

  ::selection {
    @apply bg-accent text-main;
  }

  body {
    @apply bg-main leading-relaxed;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-[10px];
  }
  ::-webkit-scrollbar-track {
    @apply rounded;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-sm;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }
}

/* ===== Custom Component Styles ===== */
@layer components {
  /* Title Component */
  .section-title {
    @apply text-[80px] font-extrabold text-accent text-center mb-[10px] relative;
  }
  .section-title::after {
    content: "";
    @apply w-[100px] h-1 absolute top-[120px] left-1/2 -translate-x-1/2 -z-10 bg-accent rounded-full transition-all duration-300;
  }
  .section-title:hover::after {
    @apply w-[150px];
  }

  @media (max-width: 550px) {
    .section-title {
      @apply text-[60px];
    }
    .section-title::after {
      @apply top-[90px];
    }
  }

  /* Fire Button */
  .fire-btn {
    @apply flex justify-center items-center max-w-[200px]  bg-white border-2 border-accent text-main px-5 py-[15px] text-xl font-extrabold cursor-pointer m-5 rounded transition-all duration-300;
    box-shadow: 5px 5px 0 #3FD357;
  }
  .fire-btn:hover {
    @apply bg-white;
    box-shadow: -5px 5px 0 #3FD357;
  }

  /* Sub Title (Gallery) */
  .sub-title {
    @apply text-[40px] mb-5 text-left absolute -top-20 bg-accent text-main py-1 px-[30px] rounded-t-[5px] rounded-b-[30px] w-[600px] text-center transition-all duration-300 font-extrabold border-2 border-main-dark;
    box-shadow: 5px 5px 0 #00134E;
  }
  .sub-title::after {
    content: "";
    @apply w-0;
  }
  .sub-title:hover {
    @apply bg-main-dark scale-105 rounded-b-[5px] rounded-t-[30px] text-accent border-2 border-accent;
    box-shadow: 5px 5px 0 #3FD357;
  }

  @media (max-width: 900px) {
    .sub-title {
      @apply w-[330px];
    }
  }
  @media (max-width: 400px) {
    .sub-title {
      @apply w-[300px] text-[30px];
    }
  }
}

/* ===== Utilities ===== */
@layer utilities {
  /* Hide scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
